@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');


.contents{
    width: 1280px;
    margin: auto;
}
/* 네비게이션 */
header{
    position: absolute;
    /* position: fixed; */
    width: 100%;
}
nav{
    display:flex;
    width: 1280px;
    margin: auto;
    justify-content: space-between;
    /* border: 1px solid #000; */
}
.gnb{
    display:flex;
}
.gnb li{
    margin: 20px;
}
.gnb li:last-child{
    margin-right: 0;
}
.gnb li a{
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 64px;
    height: 48px;
    margin-left:20px;
    /* border: 1px solid #000; */

}
/* 메인이미지 */
.home{
    display: flex;
    height: 100vh;
    background: url('../images/full3.jpg') no-repeat center center;
    background-size: 100% 100%;
}
.heading{
    text-align: center;
    color: #fff;
}
.heading h1{
    font-size: 56px;
    padding-bottom: 70px;
}
.heading ul li{
    font-size: 22px;

}
/*내 프로필영역 */
.aboutme{
    display: flex;
    flex:5;
    padding: 100px 0 ;
}
.photo{
    flex:2;
    margin-right: 120px;
   }
.photo img{
    width: 100%;
    height: 500px;
    border-radius: 61% 39% 52% 48% / 60% 33% 67% 40%    ;
    
   }

.desc{
    flex:3;
}

.desc>h3 span{
    font-size: 12px;
}
.desc dt{
    font-size: 20px;
    color: #a0a0a0;
}


/* 콜투액션  */
.call-to-action{
    background: url('../images/call.jpg') no-repeat center;
    background-size: cover;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}   
.call-to-action:before{
    content: '';
    background: linear-gradient(90deg, #472fa744, #dc87e57c);
    width: 100%;
    height: 450px;
    position: absolute;

}
.call-to-action a{
    color: #fff;
    padding: 15px 30px;
    background: linear-gradient(90deg, #472fa7, #5331ad, #dc87e5);
    z-index: 1;
}
.call-to-action h2{
    margin-bottom: 50px;
    color: #fff;
    z-index: 1;
}

/* 슬라이드 */
.responsive div{
    width: 800px;
    height: 500px;
    border-radius: 0 10% 0 10%;
    border: 1px solid #000;
}

/* 프로젝트 */
.projects{
    width: 100%;
    height: 600px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
}


/* 공부 */
.studies{
   
    display: flex;
    justify-content: center;
    border: 1px solid #000;
}
.studies div{
    width: 200px;
    height: 300px;
    border: 1px solid #000;
}

/* 연락처 */
.contact{
    background: rgb(129, 54, 145);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button a{
    display:inline-block;
    padding: 10px;
    width: 200px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
.button a:first-child{
    background-color: rgb(216, 40, 149);
}
.button a:last-child{
    background-color: rgb(216, 40, 149);
}
